
footer {
    background-color:  #050c31;
    color: #f5f5f5;
    padding: 1rem 32px
}

footer a {
    color: #f5f5f5;
}

footer a:hover {
    color: #558ef7;
    text-decoration: none;
}

.form-control {
    border-radius: 0;
}

textarea {
    resize: none;
}

.footer-center{
    font-size: 2rem;
}
.footer-center p{
    font-size: 1rem;
}

.glyphicon{
    font-size: 2.5rem;
    margin: 1rem;
}

.footer-links{
    display: flex;
    margin: 1rem;
    align-items: center;
    justify-content: center;
}

.footer-links i{
    margin: 4rem;
    font-size: 1.5rem;
    
}
