
.navbar {
    font-family: Montserrat, sans-serif;
    margin-bottom: 0;
    background-color: #b5b5f78f;
    border: 0;
    font-size: 11px !important;
    letter-spacing: 4px;
    opacity: 0.9;
    padding: 2rem 10%;
}

.navbar .navbar-brand{
    text-transform: uppercase;
    color: #fff;
}

.navbar li a {
    color: #000839 !important;
    text-transform: uppercase;
}

.navbar-nav li a{
    transition: .2s ease-in-out;
    font-size: 1.5rem;
}

.navbar-nav li.active a {
    color: #fff !important;
    background-color: #6dbdff !important;
    
}

.navbar-default .navbar-toggle {
    border-color: transparent;
}

.navbar-default .navbar-brand:hover {
    color: #5a70ff;
    background-color: transparent;
}

.other-contact ul> li> a{
    font-size: 1.7rem;
    color: #000839;
    font-weight: 600;
}

.form-group input,
.form-control{
    font-size: 1.2rem;
    font-family: inherit;
    color:rgb(1, 16, 58);
    padding: 1.5rem 2rem;
    border-radius: 1px;
    border: 2px solid #5a70ff;
    width: 100%;
    transition: all 0.3s ease-in-out;
    
}

.form-group input:hover,
.form-control input:hover{
    outline: none;
    border: 2px solid #000839;
}

.other-contact{
    margin: 5rem;
}

.other-contact h4{
    font-size: 3rem;
    letter-spacing: 10px;
    text-transform: uppercase;
    color: rgb(2, 11, 53);
}



